@import "tailwindcss";

@theme {
    --font-serif: "Instrument Serif", serif;
    --font-sans: "Instrument Sans", sans-serif;
    --font-outfit: "Outfit", sans-serif;

    --color-bg: #1f242d;
    --color-bg-lighter: #323946;
    --color-accent: #0ef;
}

@source "../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../../storage/framework/views/*.php";
@source "../**/*.blade.php";